<%= form_for :post do |p| %>
  <p>
    <%= p.label :title %><br>
    <%= p.text_field :title %>
  </p>
 
  <p>
    <%= p.label :text %><br>
    <%= p.text_area :text %>
  </p>
 
  <p>
    <%= p.submit %>
  </p>
<% end %>
